{
    "gateway": {
        "name": "Supervisor NOC",
        "port": "COM3",
        "bitrate": 500
    },
    "dashboard": {
        "host": "0.0.0.0",
        "port": 5000
    },
    "features": {}
}
